<%= render template: "layouts/application" %>

<header class='header'>
  <div class='conference-callout'>
    <h1 class='conference-title'>try! Swift</h1>
    <p class='conference-description'><em>try! Swift</em> is an immersive community gathering about <strong>iOS, WatchOS, and tvOS development in Swift</strong> happening in <strong>Tokyo, Japan</strong> on <strong>March 2nd - 4th, 2016</strong>. The event is about bringing together talent from all around the world to collaborate and share advanced knowledge and techniques to improve our craft.</p>
  </div>
</header>

<section class='speakers' id='speakers'>
  <div class='section-header'>
    <h1>Speakers</h1>
  </div>

  <div class='container'>
    <% @speakers.each do |speaker| %>
      <% if speaker.announced == true %>
        <div class='speaker'>
          <figure>
            <%= image_tag(speaker.photo, :alt => speaker.name) %>
            <figcaption>
              <h2 class='speaker-name'><%= speaker.name %></h2>
              <div class='speaker-job-desc'>
                <a href='https://twitter.com/<%= speaker.twitter %>' target="_blank">@<%= speaker.twitter %></a>
              </div>
              <p class='speaker-description'>
                <%= speaker.bio %>
              </p>
            </figcaption>
          </figure>
        </div>
      <% end %>
    <% end %>

    <h2>20+ additional expert speakers to be announced!</h2>
  </div>
</section>

<!-- <section class='schedule' id='schedule'>
  <div class='section-header'>
    <h1>Schedule</h1>
  </div>

  <p>Schedule is still actively being created! Please check back for an exciting breakdown of <em>try! Swift</em> and <a href='https://twitter.com/tryswiftconf'>follow us on Twitter</a>.</p>
</section> -->

<section class='coc' id='coc'>
  <div class='section-header'>
    <h1>Code of Conduct</h1>
  </div>

  <div class='container'>
    <p>We are committed to providing a safe space for all of our attendees, speakers, and volunteers. Our Code of Conduct can be read in full <a href='https://github.com/NatashaTheRobot/trySwiftCodeOfConduct' target="_blank">on Github here</a>. We encourage everyone to read it in full so we can all have a great time at <em>try! Swift</em>.</p>
  </div>
</section>

<section class='buy-ticket'></section>

<section class='date-location'>
  <div class='section-header'>
    <h1>Date & Location</h1>
  </div>

  <div class='container'>
    <p>This year's <em>try! Swift</em> will take place in <strong>Tokyo, Japan</strong>. Location is still being sorted out—follow us <a href='https://twitter.com/tryswiftconf'>on Twitter</a> and check this site to see updates! And email will also go out when location is updated.</p>
</section>

<section class='sponsors'>
  <div class='section-header'>
    <h1>Sponsors</h1>
  </div>
  <div class='container'>
    <p><%= image_tag("sponsors/realm.png", :alt => "realm.io") %></p>

    <p>Interested in sponsoring? Email us at Email us at <a href="mailto:info@tryswiftconf.com">info@tryswiftconf.com</a>.</p>
  </div>
</section>

<section class='speakers' id='speakers'>
  <div class='section-header'>
    <h1>Organizers</h1>
  </div>

  <div class='container'>
    <% @organizers.each do |organizer| %>

            <div class='speaker'>
              <figure>
                <%= image_tag("organizers/#{organizer.photo}", :alt => organizer.name) %>
                <figcaption>
                  <h2 class='speaker-name'><%= organizer.name %></h2>
                  <div class='speaker-job-desc'>
                    <a href='https://twitter.com/<%= organizer.twitter %>' target="_blank">@<%= organizer.twitter %></a>
                  </div>
                </figcaption>
              </figure>
            </div>
        <% end %>
  </div>
</section>

<section class='contact'>
  <div class='section-header'>
    <h1>Contact</h1>
  </div>

  <div class='container'>
      <p>Want to know more? Email us at <a href="mailto:info@tryswiftconf.com">info@tryswiftconf.com</a>
        or tweet us at <a href='https://twitter.com/tryswiftconf' target="_blank">@tryswiftconf</a>.</p>

  </div>
</section>