<%= render template: "layouts/application" %>

<header class='header'>
  <div class='conference-callout'>
    <h1 class='conference-title'>try! Swift</h1>
    <p class='conference-description'>
      <br>
      <em>Learn, Meet, Eat</em>
      <br>
      <strong>March 2nd - 4th, 2016</strong>
      <br>
      Tokyo, Japan
      <br><a href='https://twitter.com/tryswiftconf' target="_blank">Follow us on Twitter @tryswiftconf!</a>
    </p>

    <p class='conference-description'><em>try! Swift</em> is an immersive community gathering about <strong>iOS, WatchOS, and tvOS development in Swift</strong>. The event is about bringing together talent from all around the world to collaborate and share advanced knowledge and techniques to improve our craft. Come have a great time meeting new people, learning new technologies, and eating delicious food with us March 2nd-4th in the wonderful Tokyo, Japan.</p>
  </div>
</header>

<section class='speakers' id='speakers'>
  <div class='section-header'>
    <h1>30+ Expert Speakers</h1>
  </div>

  <div class='container'>
    <% @speakers.each do |speaker| %>
      <% if speaker.announced == true %>
        <div class='speaker'>
          <figure>
            <%= image_tag(speaker.photo, :alt => speaker.name) %>
            <figcaption>
              <h2 class='speaker-name'><%= speaker.name %></h2>
              <div class='speaker-job-desc'>
                <a href='https://twitter.com/<%= speaker.twitter %>' target="_blank">@<%= speaker.twitter %></a>
              </div>
              <p class='speaker-description'>
                <%= speaker.bio %>
              </p>
            </figcaption>
          </figure>
        </div>
      <% end %>
    <% end %>

    <p>Many more expert speakers from around the world to be announced. Come learn from the best.</p>
  </div>
</section>

<!-- <section class='schedule' id='schedule'>
  <div class='section-header'>
    <h1>Schedule</h1>
  </div>

  <p>Schedule is still actively being created! Please check back for an exciting breakdown of <em>try! Swift</em> and <a href='https://twitter.com/tryswiftconf'>follow us on Twitter</a>.</p>
</section> -->

<section class='coc' id='coc'>
  <div class='section-header'>
    <h1>Code of Conduct</h1>
  </div>

  <div class='container'>
    <p>We are committed to providing a safe space for all of our attendees, speakers, and volunteers. Our Code of Conduct can be read in full <a href='https://github.com/NatashaTheRobot/trySwiftCodeOfConduct' target="_blank">on Github here</a>. We encourage everyone to read it in full so we can all have a great time at <em>try! Swift</em>.</p>
  </div>
</section>

<section class='buy-ticket' id="tickets">
  <div class='section-header'>
    <h1>Get Tickets</h1>
  </div>
  <div class='container'>
  <div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=19564952299&ref=etckt" frameborder="0" height="325" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Powered by Eventbrite</a></div></div>
      </div>
</section>

<section class='date-location' id="date-location">
  <div class='section-header'>
    <h1>Location</h1>
  </div>

  <div class='container'>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3241.7682432622405!2d139.6963881!3d35.6580812!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b5633c91f13%3A0xaa0cf9a99cd6ccf4!2sSHIBUYA+MARK+CITY!5e0!3m2!1sen!2sjp!4v1447591769769" width="100%" height="450" frameborder="0" style="border:0; margin-top: 50px;" allowfullscreen></iframe>
    <p><em>try! Swift</em> will take place in <strong>Shibuya Mark City</strong> in Tokyo, Japan.</p>
</section>

<section class='sponsors' id="sponsors">
  <div class='section-header'>
    <h1>Sponsors</h1>
  </div>

  <div class='container'>
    <p class="sponsor_logo"><%= image_tag("sponsors/realm.png", :alt => "realm.io") %></p>
  <p>Our top-level sponsor for <em>try! Swift</em> is <a href='https://realm.io/' target="_blank">Realm</a>. Interested in sponsoring us? Email us at <a href="mailto:info@tryswiftconf.com">info@tryswiftconf.com</a>.</p>
    </div>
</section>

<!--commenting this out while the section remains empty (migrate database please :) )-->

<section class='speakers' id='organizers'>
  <div class='section-header'>
    <h1>Organizers</h1>
  </div>

  <div class='container'>
    <% @organizers.each do |organizer| %>

            <div class='speaker'>
              <figure>
                <%= image_tag("organizers/#{organizer.photo}", :alt => organizer.name) %>
                <figcaption>
                  <h2 class='speaker-name'><%= organizer.name %></h2>
                  <div class='speaker-job-desc'>
                    <a href='https://twitter.com/<%= organizer.twitter %>' target="_blank">@<%= organizer.twitter %></a>
                  </div>
                </figcaption>
              </figure>
            </div>
        <% end %>
  </div>
</section>

<section class='contact' id="contact">
  <div class='section-header'>
    <h1>Contact</h1>
  </div>

  <div class='container'>
    <p>
      Want to know more? Email us at <a href="mailto:info@tryswiftconf.com">info@tryswiftconf.com</a> or tweet us at <a href='https://twitter.com/tryswiftconf' target="_blank">@tryswiftconf</a>.
    </p>
  </div>
</section>