<%= render template: "layouts/application" %>

<header class='header'>
  <img src="/images/blank.gif" class="lazy" data-src="/images/full-size.jpg" width="100%" height="400px">
  <div class='container'>
    <h1 class='conference-title'>try! Swift</h1>
  </div>
</header>

<section class='speakers container'>
  <div class='speaker'>
    <figure>
      <%= image_tag('adambell.jpg', :alt => 'Adam Bell, speaker') %>
      <figcaption>
        <h2>Adam Bell</h2>
        <a href='https://twitter.com/b3ll' class='speaker-job-desc'>@b3ll</a>, Engineer on <a href='https://itunes.apple.com/ca/app/artpop/id686145398?mt=8'>Artpop</a>
        <p class='speaker-description'>
        </p>
      </figcaption>
  </div>

  <div class='speaker'>
    <figure>
      <%= image_tag('ayaka.jpg', :alt => 'Ayaka Nonaka, speaker') %>
      <figcaption>
        <h2>Ayaka Nonaka</h2>
        <a href='https://twitter.com/ayanonagon' class='speaker-job-desc'>@ayanonagon</a>, Engineer at Venmo
        <p class='speaker-description'>
        </p>
      </figcaption>
  </div>

  <div class='speaker'>
    <figure>
      <%= image_tag('boris.jpg', :alt => 'Boris Bügling, speaker') %>
      <figcaption>
        <h2>Boris Bügling</h2>
        <a href='https://twitter.com/neonacho' class='speaker-job-desc'>@NeoNacho</a>, Engineer at Contentful
        <p class='speaker-description'>
        </p>
      </figcaption>
  </div>

  <div class='speaker'>
    <figure>
      <%= image_tag('cate.jpg', :alt => 'Adam Bell, speaker') %>
      <figcaption>
        <h2>Helen V. Holmes</h2>
        <a href='twitter' class='speaker-job-desc'>@helenvholmes</a>, Designer at Mozilla
        <p class='speaker-description'>
        </p>
      </figcaption>
  </div>

  <div class='speaker'>
    <figure>
      <%= image_tag('chris.jpg', :alt => 'Adam Bell, speaker') %>
      <figcaption>
        <h2>Helen V. Holmes</h2>
        <a href='twitter' class='speaker-job-desc'>@helenvholmes</a>, Designer at Mozilla
        <p class='speaker-description'>
        </p>
      </figcaption>
  </div>

  <div class='speaker'>
    <figure>
      <%= image_tag('daniel.jpg', :alt => 'Adam Bell, speaker') %>
      <figcaption>
        <h2>Helen V. Holmes</h2>
        <a href='twitter' class='speaker-job-desc'>@helenvholmes</a>, Designer at Mozilla
        <p class='speaker-description'>
        </p>
      </figcaption>
  </div>

  <div class='speaker'>
    <figure>
      <%= image_tag('danieleggert.jpg', :alt => 'Adam Bell, speaker') %>
      <figcaption>
        <h2>Helen V. Holmes</h2>
        <a href='twitter' class='speaker-job-desc'>@helenvholmes</a>, Designer at Mozilla
        <p class='speaker-description'>
        </p>
      </figcaption>
  </div>

  <div class='speaker'>
    <figure>
      <%= image_tag('diana.jpg', :alt => 'Adam Bell, speaker') %>
      <figcaption>
        <h2>Helen V. Holmes</h2>
        <a href='twitter' class='speaker-job-desc'>@helenvholmes</a>, Designer at Mozilla
        <p class='speaker-description'>
        </p>
      </figcaption>
  </div>

  <div class='speaker'>
    <figure>
      <%= image_tag('dimsumthinking.jpg', :alt => 'Adam Bell, speaker') %>
      <figcaption>
        <h2>Helen V. Holmes</h2>
        <a href='twitter' class='speaker-job-desc'>@helenvholmes</a>, Designer at Mozilla
        <p class='speaker-description'>
        </p>
      </figcaption>
  </div>

  <div class='speaker'>
    <figure>
      <%= image_tag('hectormateos.jpg', :alt => 'Adam Bell, speaker') %>
      <figcaption>
        <h2>Helen V. Holmes</h2>
        <a href='twitter' class='speaker-job-desc'>@helenvholmes</a>, Designer at Mozilla
        <p class='speaker-description'>
        </p>
      </figcaption>
  </div>

</section>

<section class='schedule'></section>

<section class='date-location'></section>

<section class='buy-ticket'></section>

<section class='contact'></section>