<%= render template: "layouts/application" %>
<% content_for :title, "try! Swift" %>


<header class='header'>
  <div class='conference-callout'>
    <h1 class='conference-title'>try! Swift</h1>
    <p class='conference-description'>
      <br>
      <em>Learn, Meet, Eat</em>
      <br>
      <strong>2016.3.2〜2016.3.4</strong>
      <br>
      東京・渋谷
      <br><a href='https://twitter.com/tryswiftconf' target="_blank">Twitterで@tryswiftconfをフォローしてください！</a>
    </p>

    <p class='conference-description'><em>try! Swift</em>は世界中のSwiftデベロッパーが一堂に会し、知識や技術を互いに共有し高め合うことを目的としたカンファレンスです。2016.3.2〜2016.3.4の三日間、東京・渋谷にて新たな出会いと学びの機会を、素晴らしい食事とともにお待ちしています。</p>
  </div>
</header>

<section class='speakers' id="speakers">
  <div class='section-header'>
    <h1>講演者</h1>
  </div>

  <div class='container'>
    <% @speakers.each do |speaker| %>
      <% if speaker.announced == true %>
        <div class='speaker'>
          <figure>
            <%= image_tag(speaker.photo, :alt => speaker.name) %>
            <figcaption>
              <h2 class='speaker-name'><%= speaker.name %></h2>
              <div class='speaker-job-desc'>
                <a href='https://twitter.com/<%= speaker.twitter %>' target="_blank">@<%= speaker.twitter %></a>
              </div>
              <p class='speaker-description'>
                <%= speaker.bio %>
              </p>
            </figcaption>
          </figure>
        </div>
      <% end %>
    <% end %>

    <p>30人以上の講演者が登壇予定です。その他の講演者のプロフィールにつきましては、順次掲載する予定です。</p>
  </div>
</section>

<!-- <section class='schedule' id='schedule'>
  <div class='section-header'>
    <h1>Schedule</h1>
  </div>

  <p>Schedule is still actively being created! Please check back for an exciting breakdown of <em>try! Swift</em> and <a href='https://twitter.com/tryswiftconf'>follow us on Twitter</a>.</p>
</section> -->

<section class='coc' id='coc'>
  <div class='section-header'>
    <h1>行動規範</h1>
  </div>

  <div class='container'>
    <p><em>try! Swift</em>は、さまざまな地域やコミュニティから集うすべての人びとに対して開かれたカンファレンスを目指しています。特に、性別や人種など、多様な背景を持つ人びとが互いに敬意を払って楽しい時間を過ごせるよう、当カンファレンスでは、発表者や参加者、スポンサーの皆様に行動規範を守っていただくようにお願いしています。行動規範の全文は<a href='https://github.com/NatashaTheRobot/trySwiftCodeOfConduct' target="_blank">GitHubにて公開</a>しています。</p>
  </div>
</section>

<section class='buy-ticket' id="tickets">
  <div class='section-header'>
    <h1>チケットの購入</h1>
  </div>
  <div class='container'>
  <div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=19564952299&ref=etckt" frameborder="0" height="325" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Powered by Eventbrite</a></div></div>
      </div>
</section>

<section class='date-location' id="location">
  <div class='section-header'>
    <h1>会場</h1>
  </div>

  <div class='container'>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3241.7682432622405!2d139.6963881!3d35.6580812!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b5633c91f13%3A0xaa0cf9a99cd6ccf4!2sSHIBUYA+MARK+CITY!5e0!3m2!1sen!2sjp!4v1447591769769" width="100%" height="450" frameborder="0" style="border:0; margin-top: 50px;" allowfullscreen></iframe>
    <p><em>try! Swift</em>は東京の<strong>渋谷マークシティ</strong>にて開催されます。</p>

</section>

<section class='sponsors' id="sponsors">
  <div class='section-header'>
    <h1>スポンサー</h1>
  </div>
<p class='realm-logo'><%= image_tag("sponsors/realm.svg", :alt => "realm.io") %></p>

  <div class='container'>
  <p><a href='https://realm.io/' target="_blank">Realm</a>は<em>try! Swift</em>の「TOP」スポンサーです。<em>try! Swift</em>を応援していただける、スポンサーを募集しています。詳細についてメール<a href="mailto:info@tryswiftconf.com">info@tryswiftconf.com</a>にてお問い合わせください。</p>
      </div>
</section>

<!--commenting this out while the section remains empty -->

<section class='speakers' id='organizers'>
  <div class='section-header'>
    <h1>主催者</h1>
  </div>

  <div class='container'>
    <% @organizers.each do |organizer| %>

            <div class='speaker'>
              <figure>
                <%= image_tag("organizers/#{organizer.photo}", :alt => organizer.name) %>
                <figcaption>
                  <h2 class='speaker-name'><%= organizer.name %></h2>
                  <div class='speaker-job-desc'>
                    <a href='https://twitter.com/<%= organizer.twitter %>' target="_blank">@<%= organizer.twitter %></a>
                  </div>
                </figcaption>
              </figure>
            </div>
        <% end %>
  </div>
</section>

<section class='contact' id="contact">
  <div class='section-header'>
    <h1>お問い合わせ</h1>
  </div>

  <div class='container'>
    <p>
      try! Swiftについてのお問い合わせはメール<a href="mailto:info@tryswiftconf.com">info@tryswiftconf.com</a>またはTwitter<a href='https://twitter.com/tryswiftconf' target="_blank">@tryswiftconf</a>にてご連絡ください。
    </p>
  </div>
</section>