<%= render template: "layouts/application" %>

<header class='header'>
  <div class='conference-callout'>
    <h1 class='conference-title'>try! Swift</h1>
    <p class='conference-description'><em>try! Swift</em> is conference all about Swift and why you should be using it if you’re not already happening <strong>March 14th-16th</strong> in the wonderful <strong>Something Labs</strong> in <strong>Tokyo, Japan</strong>.</p>
  </div>
</header>

<section class='speakers'>
  <div class='section-header'>
    <h1>Speakers</h1>
  </div>

  <div class='container'>
    <% @speakers.each do |speaker| %>
      <% if speaker.announced == true %>
        <div class='speaker'>
          <figure>
            <%= image_tag(speaker.photo, :alt => speaker.name) %>
            <figcaption>
              <h2 class='speaker-name'><%= speaker.name %></h2>
              <div class='speaker-job-desc'>
                <a href='https://twitter.com/b3ll'><%= speaker.twitter %></a>
              </div>
              <p class='speaker-description'>
                <%= speaker.bio %>
              </p>
            </figcaption>
          </figure>
        </div>
      <% end %>
    <% end %>
  </div>
</section>

<section class='schedule'></section>

<section class='date-location'></section>

<section class='buy-ticket'></section>

<section class='contact'></section>